##################################################
# CUSTOM .HTACCESS RULES
##################################################

# 1. Setting default file utama
DirectoryIndex index.php index.html index.htm index2.html

# 2. Custom Error Pages
ErrorDocument 403 https://errors.infinityfree.net/errors/403/
ErrorDocument 404 https://errors.infinityfree.net/errors/404/
ErrorDocument 500 https://errors.infinityfree.net/errors/500/

# 3. Pengaturan URL Clean (Menghilangkan Ekstensi)
RewriteEngine On

# Hilangkan ekstensi .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Hilangkan ekstensi .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]